<a href="https://colab.research.google.com/github/PraveshKoirala/Bios8366/blob/master/notebooks/Section2_2-Pandas-Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/fonnesbeck/Bios8366/blob/master/notebooks/Section2_2-Pandas-Fundamentals.ipynb)

# Pandas Fundamentals

This section introduces the new user to the key functionality of Pandas that is required to use the software effectively.

For some variety, we will leave our digestive tract bacteria behind and employ some baseball data.

In [3]:
import pandas as pd
pd.set_option('display.max_rows', 10)

DATA_PATH = 'https://raw.githubusercontent.com/fonnesbeck/Bios8366/master/data/'

baseball = pd.read_csv(DATA_PATH + "baseball.csv", index_col='id')
baseball

          player  year  stint team  lg    g  ...    so  ibb  hbp   sh   sf  gidp
id                                           ...
88641  womacto01  2006      2  CHN  NL   19  ...   4.0  0.0  0.0  3.0  0.0   0.0
88643  schilcu01  2006      1  BOS  AL   31  ...   1.0  0.0  0.0  0.0  0.0   0.0
88645  myersmi01  2006      1  NYA  AL   62  ...   0.0  0.0  0.0  0.0  0.0   0.0
88649  helliri01  2006      1  MIL  NL   20  ...   2.0  0.0  0.0  0.0  0.0   0.0
88650  johnsra05  2006      1  NYA  AL   33  ...   4.0  0.0  0.0  0.0  0.0   0.0
...          ...   ...    ...  ...  ..  ...  ...   ...  ...  ...  ...  ...   ...
89525  benitar01  2007      2  FLO  NL   34  ...   0.0  0.0  0.0  0.0  0.0   0.0
89526  benitar01  2007      1  SFN  NL   19  ...   0.0  0.0  0.0  0.0  0.0   0.0
89530  ausmubr01  2007      1  HOU  NL  117  ...  74.0  3.0  6.0  4.0  1.0  11.0
89533   aloumo01  2007      1  NYN  NL   87  ...  30.0  5.0  2.0  0.0  3.0  13.0
89534  alomasa02  2007      1  NYN  NL    8  ...   3.0  0.0  0.0  0.0  0.0   0.0

[100 rows x 22 columns]

Notice that we specified the `id` column as the index, since it appears to be a unique identifier. We could try to create a unique index ourselves by combining `player` and `year`:

In [2]:
player_id = baseball.player + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_id
baseball_newind

                  player  year  stint team  lg  ...  ibb  hbp   sh   sf  gidp
womacto012006  womacto01  2006      2  CHN  NL  ...  0.0  0.0  3.0  0.0   0.0
schilcu012006  schilcu01  2006      1  BOS  AL  ...  0.0  0.0  0.0  0.0   0.0
myersmi012006  myersmi01  2006      1  NYA  AL  ...  0.0  0.0  0.0  0.0   0.0
helliri012006  helliri01  2006      1  MIL  NL  ...  0.0  0.0  0.0  0.0   0.0
johnsra052006  johnsra05  2006      1  NYA  AL  ...  0.0  0.0  0.0  0.0   0.0
...                  ...   ...    ...  ...  ..  ...  ...  ...  ...  ...   ...
benitar012007  benitar01  2007      2  FLO  NL  ...  0.0  0.0  0.0  0.0   0.0
benitar012007  benitar01  2007      1  SFN  NL  ...  0.0  0.0  0.0  0.0   0.0
ausmubr012007  ausmubr01  2007      1  HOU  NL  ...  3.0  6.0  4.0  1.0  11.0
aloumo012007    aloumo01  2007      1  NYN  NL  ...  5.0  2.0  0.0  3.0  13.0
alomasa022007  alomasa02  2007      1  NYN  NL  ...  0.0  0.0  0.0  0.0   0.0

[100 rows x 22 columns]

This looks okay, but let's check:

In [4]:
baseball_newind.index.is_unique

False

So, indices need not be unique. Our choice is not unique because some players change teams within years.

In [5]:
pd.Series(baseball_newind.index).value_counts()

wellsda012007    2
francju012007    2
wickmbo012007    2
gomezch022007    2
benitar012007    2
                ..
floydcl012007    1
williwo022007    1
seleaa012007     1
finlest012006    1
stinnke012007    1
Length: 88, dtype: int64

The most important consequence of a non-unique index is that indexing by label will return multiple values for some labels:

In [6]:
baseball_newind.loc['wickmbo012007']

                  player  year  stint team  lg  ...  ibb  hbp   sh   sf  gidp
wickmbo012007  wickmbo01  2007      2  ARI  NL  ...  0.0  0.0  0.0  0.0   0.0
wickmbo012007  wickmbo01  2007      1  ATL  NL  ...  0.0  0.0  0.0  0.0   0.0

[2 rows x 22 columns]

We will learn more about indexing below.

We can create a truly unique index by combining `player`, `team` and `year`:

In [7]:
player_unique = baseball.player + baseball.team + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_unique
baseball_newind.head()

                     player  year  stint team  lg  ...  ibb  hbp   sh   sf  gidp
womacto01CHN2006  womacto01  2006      2  CHN  NL  ...  0.0  0.0  3.0  0.0   0.0
schilcu01BOS2006  schilcu01  2006      1  BOS  AL  ...  0.0  0.0  0.0  0.0   0.0
myersmi01NYA2006  myersmi01  2006      1  NYA  AL  ...  0.0  0.0  0.0  0.0   0.0
helliri01MIL2006  helliri01  2006      1  MIL  NL  ...  0.0  0.0  0.0  0.0   0.0
johnsra05NYA2006  johnsra05  2006      1  NYA  AL  ...  0.0  0.0  0.0  0.0   0.0

[5 rows x 22 columns]

In [8]:
baseball_newind.index.is_unique

True

We can create meaningful indices more easily using a hierarchical index; for now, we will stick with the numeric `id` field as our index.

### Manipulating indices

**Reindexing** allows users to manipulate the data labels in a DataFrame. It forces a DataFrame to conform to the new index, and optionally, fill in missing data if requested.

A simple use of `reindex` is to alter the order of the rows:

In [10]:
# Reindexing should really be called reshuffling. Makes more sense that way.
baseball.reindex(baseball.index[::-1]).head()

          player  year  stint team  lg   g  ...   so  ibb  hbp   sh   sf  gidp
id                                          ...
88641  womacto01  2006      2  CHN  NL  19  ...  4.0  0.0  0.0  3.0  0.0   0.0
88643  schilcu01  2006      1  BOS  AL  31  ...  1.0  0.0  0.0  0.0  0.0   0.0
88645  myersmi01  2006      1  NYA  AL  62  ...  0.0  0.0  0.0  0.0  0.0   0.0
88649  helliri01  2006      1  MIL  NL  20  ...  2.0  0.0  0.0  0.0  0.0   0.0
88650  johnsra05  2006      1  NYA  AL  33  ...  4.0  0.0  0.0  0.0  0.0   0.0

[5 rows x 22 columns]

Notice that the `id` index is not sequential. Say we wanted to populate the table with every `id` value. We could specify and index that is a sequence from the first to the last `id` numbers in the database, and Pandas would fill in the missing data with `NaN` values:

In [ ]:
id_range = range(baseball.index.values.min(), baseball.index.values.max())
baseball.reindex(id_range).head()

Missing values can be filled as desired, either with selected values, or by rule:

In [ ]:
baseball.reindex(id_range, method='ffill').head()

In [ ]:
baseball.reindex(id_range, fill_value='charliebrown', columns=['player']).head()

Keep in mind that `reindex` does not work if we pass a non-unique index series.

We can remove rows or columns via the `drop` method:

In [ ]:
baseball.shape

In [ ]:
baseball.drop([89525, 89526])

In [ ]:
baseball.drop(['ibb','hbp'], axis=1)

## Indexing and Selection

Indexing works analogously to indexing in NumPy arrays, except we can use the labels in the `Index` object to extract values in addition to arrays of integers.

In [ ]:
# Sample Series object
hits = baseball_newind.h
hits

In [ ]:
# Numpy-style indexing
hits[:3]

In [ ]:
# Indexing by label
hits[['womacto01CHN2006','schilcu01BOS2006']]

We can also slice with data labels, since they have an intrinsic order within the Index:

In [ ]:
hits['womacto01CHN2006':'gonzalu01ARI2006']

In [ ]:
hits['womacto01CHN2006':'gonzalu01ARI2006'] = 5
hits

In a `DataFrame` we can slice along either or both axes:

In [ ]:
baseball_newind[['h','ab']]

In [ ]:
baseball_newind[baseball_newind.ab>500]

For a more concise (and readable) syntax, we can use the new `query` method to perform selection on a `DataFrame`. Instead of having to type the fully-specified column, we can simply pass a string that describes what to select. The query above is then simply:

In [ ]:
baseball_newind.query('ab > 500')

The `DataFrame.index` and `DataFrame.columns` are placed in the query namespace by default. If you want to refer to a variable in the current namespace, you can prefix the variable with `@`:

In [ ]:
min_ab = 450

In [ ]:
baseball_newind.query('ab > @min_ab')

The indexing field `loc` allows us to select subsets of rows and columns in an intuitive way:

In [ ]:
baseball_newind.loc['gonzalu01ARI2006', ['h','X2b', 'X3b', 'hr']]

In [ ]:
baseball_newind.loc[:'myersmi01NYA2006', 'hr']

In addition to using `loc` to select rows and columns by **label**, pandas also allows indexing by **position** using the `iloc` attribute.

So, we can query rows and columns by absolute position, rather than by name:

In [ ]:
baseball_newind.iloc[:5, 5:8]

### Exercise

You can use the `isin` method query a DataFrame based upon a list of values as follows: 

    data['phylum'].isin(['Firmacutes', 'Bacteroidetes'])

Use `isin` to find all players that played for the Los Angeles Dodgers (LAN) or the San Francisco Giants (SFN). How many records contain these values?

In [ ]:
# Write your answer here

## Operations

`DataFrame` and `Series` objects allow for several operations to take place either on a single object, or between two or more objects.

For example, we can perform arithmetic on the elements of two objects, such as combining baseball statistics across years. First, let's (artificially) construct two Series, consisting of home runs hit in years 2006 and 2007, respectively:

In [ ]:
hr2006 = baseball.loc[baseball.year==2006, 'hr']
hr2006.index = baseball.player[baseball.year==2006]

hr2007 = baseball.loc[baseball.year==2007, 'hr']
hr2007.index = baseball.player[baseball.year==2007]

In [ ]:
hr2007

Now, let's add them together, in hopes of getting 2-year home run totals:

In [ ]:
hr_total = hr2006 + hr2007
hr_total

Pandas' data alignment places `NaN` values for labels that do not overlap in the two Series. In fact, there are only 6 players that occur in both years.

In [ ]:
hr_total[hr_total.notnull()]

While we do want the operation to honor the data labels in this way, we probably do not want the missing values to be filled with `NaN`. We can use the `add` method to calculate player home run totals by using the `fill_value` argument to insert a zero for home runs where labels do not overlap:

In [ ]:
hr2007.add(hr2006, fill_value=0)

Operations can also be **broadcast** between rows or columns.

For example, if we subtract the maximum number of home runs hit from the `hr` column, we get how many fewer than the maximum were hit by each player:

In [ ]:
baseball.hr - baseball.hr.max()

Or, looking at things row-wise, we can see how a particular player compares with the rest of the group with respect to important statistics

In [ ]:
baseball.loc[89521, "player"]

In [ ]:
stats = baseball[['h','X2b', 'X3b', 'hr']]
diff = stats - stats.loc[89521]
diff[:10]

We can also apply functions to each column or row of a `DataFrame`

In [ ]:
import numpy as np

stats.apply(np.median)

In [ ]:
def range_calc(x):
    return x.max() - x.min()

In [ ]:
stat_range = lambda x: x.max() - x.min()
stats.apply(stat_range)

Lets use apply to calculate a meaningful baseball statistics, slugging percentage:

$$SLG = \frac{1B + (2 \times 2B) + (3 \times 3B) + (4 \times HR)}{AB}$$

And just for fun, we will format the resulting estimate.

In [ ]:
def slugging(x): 
    bases = x['h']-x['X2b']-x['X3b']-x['hr'] + 2*x['X2b'] + 3*x['X3b'] + 4*x['hr']
    ab = x['ab']+1e-6
    
    return bases/ab

baseball.apply(slugging, axis=1).round(3)

## Sorting and Ranking

Pandas objects include methods for re-ordering data.

In [ ]:
baseball_newind.sort_index().head()

In [ ]:
baseball_newind.sort_index(ascending=False).head()

Try sorting the **columns** instead of the rows, in ascending order:

In [ ]:
baseball_newind.sort_index(axis=1).head()

We can also use `sort_values` to sort a `Series` by value, rather than by label.

In [ ]:
baseball.hr.sort_values()

For a `DataFrame`, we can sort according to the values of one or more columns using the `by` argument of `sort_values`:

In [ ]:
baseball[['player','sb','cs']].sort_values(ascending=[False,True], 
                                           by=['sb', 'cs']).head(10)

**Ranking** does not re-arrange data, but instead returns an index that ranks each value relative to others in the Series.

In [ ]:
baseball.hr.rank()

Ties are assigned the mean value of the tied ranks, which may result in decimal values.

In [ ]:
pd.Series([100,100]).rank()

Alternatively, you can break ties via one of several methods, such as by the order in which they occur in the dataset:

In [ ]:
baseball.hr.rank(method='first')

Calling the `DataFrame`'s `rank` method results in the ranks of all columns:

In [ ]:
baseball.rank(ascending=False).head()

In [ ]:
baseball[['r','h','hr']].rank(ascending=False).head()

### Exercise

Calculate **on base percentage** for each player, and return the ordered series of estimates.

$$OBP = \frac{H + BB + HBP}{AB + BB + HBP + SF}$$

In [ ]:
# Write your answer here

## Hierarchical indexing

In the baseball example, I was forced to combine 3 fields to obtain a unique index that was not simply an integer value. A more elegant way to have done this would be to create a hierarchical index from the three fields.

In [ ]:
baseball_h = baseball.set_index(['year', 'team', 'player'])
baseball_h.head(10)

This index is a `MultiIndex` object that consists of a sequence of tuples, the elements of which is some combination of the three columns used to create the index. Where there are multiple repeated values, Pandas does not print the repeats, making it easy to identify groups of values.

In [ ]:
baseball_h.index[:10]

In [ ]:
baseball_h.index.is_unique

Try using this hierarchical index to retrieve Julio Franco (`francju01`), who played for the Atlanta Braves (`ATL`) in 2007:

In [ ]:
baseball_h.loc[(2007, 'ATL', 'francju01')]

Recall earlier we imported some microbiome data using two index columns. This created a 2-level hierarchical index:

In [ ]:
mb = pd.read_csv("../data/microbiome.csv", index_col=['Taxon','Patient'])

In [ ]:
mb.head(10)

With a hierachical index, we can select subsets of the data based on a *partial* index:

In [ ]:
mb.loc['Proteobacteria']

Hierarchical indices can be created on either or both axes. Here is a trivial example:

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape(( 4, 3)), 
                  index =[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                  columns =[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])

frame

If you want to get fancy, both the row and column indices themselves can be given names:

In [ ]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

With this, we can do all sorts of custom indexing:

In [ ]:
frame.loc['a', 'Ohio']

Try retrieving the value corresponding to `b2` in `Colorado`:

In [ ]:
# Write your answer here

Additionally, the order of the set of indices in a hierarchical `MultiIndex` can be changed by swapping them pairwise:

In [ ]:
mb.swaplevel('Patient', 'Taxon').head()

Data can also be sorted by any index level, using `sort_index` with the appropriate `level` argument:

In [ ]:
mb.sort_index(level='Patient', ascending=False).head()

## Missing data

The occurence of missing data is so prevalent that it pays to use tools like Pandas, which seamlessly integrates missing data handling so that it can be dealt with easily, and in the manner required by the analysis at hand.

Missing data are represented in `Series` and `DataFrame` objects by the `NaN` floating point value. However, `None` is also treated as missing, since it is commonly used as such in other contexts (*e.g.* NumPy).

In [ ]:
foo = pd.Series([np.nan, -3, None, 'foobar'])
foo

In [ ]:
foo.isnull()

Missing values may be dropped or indexed out:

In [ ]:
test_scores = pd.read_csv(DATA_PATH + 'test_scores.csv', index_col=0, nrows=50)
test_scores

In [ ]:
test_scores.dropna()

In [ ]:
test_scores.isnull()

In [ ]:
test_scores[test_scores.notnull()]

By default, `dropna` drops entire rows in which one or more values are missing.

This can be overridden by passing the `how='all'` argument, which only drops a row when every field is a missing value.

In [ ]:
test_scores.dropna(how='all')

This can be customized further by specifying how many values need to be present before a row is dropped via the `thresh` argument.

In [ ]:
test_scores.dropna(thresh=10)

This is typically used in time series applications, where there are repeated measurements that are incomplete for some subjects.

### Exercise

Try using the `axis` argument to drop columns with missing values:

In [ ]:
# Write your answer here

Rather than omitting missing data from an analysis, in some cases it may be suitable to fill the missing value in, either with a default value (such as zero) or a value that is either imputed or carried forward/backward from similar data points. We can do this programmatically in Pandas with the `fillna` argument.

In [ ]:
test_scores.fillna(-999)

In [ ]:
test_scores.fillna({'family_inv': 0, 'prev_disab': 1})

Notice that `fillna` by default returns a new object with the desired filling behavior, rather than changing the `Series` or  `DataFrame` in place (**in general, we like to do this, by the way!**).

We can alter values in-place using `inplace=True`.

In [ ]:
test_scores.prev_disab.fillna(0, inplace=True)
test_scores

Missing values can also be interpolated, using any one of a variety of methods:

In [ ]:
test_scores.fillna(method='bfill')

## Data summarization

We often wish to summarize data in `Series` or `DataFrame` objects, so that they can more easily be understood or compared with similar data. The NumPy package contains several functions that are useful here, but several summarization or reduction methods are built into Pandas data structures.

In [ ]:
baseball.sum()

Clearly, `sum` is more meaningful for some columns than others. For methods like `mean` for which application to string variables is not just meaningless, but impossible. We can filter `DataFrame`s by column type with `select_dtypes`:

In [ ]:
baseball.select_dtypes(include='number').mean()

The important difference between NumPy's functions and Pandas' methods is that the latter have built-in support for handling missing data.

In [ ]:
test_scores.mean()

Sometimes we may not want to ignore missing values, and allow the `nan` to propagate.

In [ ]:
test_scores.mean(skipna=False)

Passing `axis=1` will summarize over rows instead of columns, which only makes sense in certain situations.

In [ ]:
extra_bases = baseball[['X2b','X3b','hr']].sum(axis=1)
extra_bases.sort_values(ascending=False)

A useful summarization that gives a quick snapshot of multiple statistics for a `Series` or `DataFrame` is `describe`:

In [ ]:
baseball.describe()

`describe` can detect non-numeric data and sometimes yield useful information about it.

In [ ]:
baseball.player.describe()

We can also calculate summary statistics *across* multiple columns, for example, correlation and covariance.

$$cov(x,y) = \sum_i (x_i - \bar{x})(y_i - \bar{y})$$

In [ ]:
baseball.hr.cov(baseball.X2b)

$$corr(x,y) = \frac{cov(x,y)}{(n-1)s_x s_y} = \frac{\sum_i (x_i - \bar{x})(y_i - \bar{y})}{\sqrt{\sum_i (x_i - \bar{x})^2 \sum_i (y_i - \bar{y})^2}}$$

In [ ]:
baseball.hr.corr(baseball.X2b)

In [ ]:
baseball.ab.corr(baseball.h)

Try running `corr` on the entire `baseball` DataFrame to see what is returned:

In [ ]:
# Write answer here

If we have a `DataFrame` with a hierarchical index (or indices), summary statistics can be applied with respect to any of the index levels:

In [ ]:
mb.head()

In [ ]:
mb.groupby(level='Taxon').sum()

## Writing Data to Files

As well as being able to read several data input formats, Pandas can also export data to a variety of storage formats. We will bring your attention to just a couple of these.

In [ ]:
mb.to_csv("mb.csv")

The `to_csv` method writes a `DataFrame` to a comma-separated values (csv) file. You can specify custom delimiters (via `sep` argument), how missing values are written (via `na_rep` argument), whether the index is writen (via `index` argument), whether the header is included (via `header` argument), among other options.

An efficient way of storing data to disk is in binary format. Pandas supports this using Python’s built-in pickle serialization.

In [ ]:
baseball.to_pickle("baseball_pickle")

The complement to `to_pickle` is the `read_pickle` function, which restores the pickle to a `DataFrame` or `Series`:

In [ ]:
pd.read_pickle("baseball_pickle")

As Wes warns in his book, it is recommended that binary storage of data via pickle only be used as a temporary storage format, in situations where speed is relevant. This is because there is no guarantee that the pickle format will not change with future versions of Python.

---
## References

[Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do) Wes McKinney